<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy">

	<sql id="date-list">
		<if test="mode=='ing'">
	  	  <![CDATA[ 
			SYSDATE <= A.startDate
	 	  ]]>	
	  	</if>
	  	<if test="mode=='finish'">
	  	  <![CDATA[ 
			SYSDATE > A.startDate
	 	  ]]>	
	  	</if>
	</sql>

	<sql id="where-list">		  		
	  <if test="searchKey=='academyName'">
	      <![CDATA[
	       INSTR(academyName, #{searchValue}) > 0
	      ]]>
	  </if>	 	    
	</sql>

	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(Count(*), 0) 
				FROM academy A
	                JOIN roomInfo R ON A.roomNum=R.roomNum
	                JOIN instructor I ON A.instNum=I.instNum
						<where>
					     <include refid="date-list"/>
					     	
					     <if test="searchValue!=null and searchValue!='' ">
					     	 AND
					     	 <include refid="where-list"/>
					     </if>
					    </where>	
	</select>

	<select id="listAcademy" parameterType="map" resultType="com.sp.academy.Academy">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT academyNum, academyName, startTime, endTime, lectureDay, acProfileImage, instPhotoImage, profile, I.tel, 
		        TO_CHAR(birth, 'YYYY-MM-DD') birth, totalCount, price, 
              		   A.roomNum, R.position, R.roomName, I.instNum, instName, 
				            TO_CHAR(startDate, 'YYYY-MM-DD') startDate,
				            TO_CHAR(endDate, 'YYYY-MM-DD') endDate
				                FROM academy A
					                JOIN roomInfo R ON A.roomNum=R.roomNum
					                JOIN instructor I ON A.instNum=I.instNum
						            <where>
								     	<include refid="date-list"/>
					     					
								     	<if test="searchValue!=null and searchValue!='' ">
								     	  	AND
								     	    <include refid="where-list"/>
								     	</if>
								    </where>
						             ORDER BY startDate ASC	
				        <![CDATA[
						        ) tb WHERE ROWNUM <= #{end}
						    ) WHERE rnum >= #{start}
						]]>			
	</select>
	
	<select id="readAcademy" parameterType="Integer" resultType="com.sp.academy.Academy">
		SELECT academyNum, academyName, startTime, endTime, lectureDay, totalCount, acProfileImage, instPhotoImage, profile, I.tel, 
		TO_CHAR(birth, 'YYYY-MM-DD') birth, classInfo, price, 
               A.roomNum, R.position, R.roomName, I.instNum, instName, 
                TO_CHAR(startDate, 'YYYY-MM-DD') startDate,
                TO_CHAR(endDate, 'YYYY-MM-DD') endDate
	                FROM academy A
		                JOIN roomInfo R ON A.roomNum=R.roomNum
		                JOIN instructor I ON A.instNum=I.instNum
	                WHERE academyNum=#{academyNum}
	</select>
	
	<update id="updateInfo" parameterType="com.sp.academy.Academy">
		UPDATE academy SET classInfo=#{classInfo} WHERE academyNum=#{academyNum}
	</update>

	
</mapper>