<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership">

	<insert id="insertRegular" parameterType="com.sp.admin.membership.Company">
		INSERT INTO company1(
			companyIndex, companyName, repname, repnumber, fax, businessNumber, address1, businessPost, address2
		)
		VALUES (
			company_seq.NEXTVAL, #{companyName}, #{repname}, #{repnumber}, #{fax}, #{businessNumber}, #{address1}, #{businessPost}, #{address2}}
		)
	</insert>

	<sql id="where-list">
		<if test="searchKey=='companyIndex'">
			companyIndex=#{companyIndex}
		</if>
		<if test="searchKey=='companyName'">
			INSTR(companyName, #{companyName}) &gt; 0
		</if>
		<if test="searchKey=='repname'">
			repname=#{repname}
		</if>
	</sql>

	<!-- 갯수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM company1 cp1
		JOIN company cp 
		ON cp1.companyIndex = cp.companyIndex
		<where>
			<if test="searchValue!=null and searchValue!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listCompany" parameterType="map" resultType="com.sp.admin.membership.Company">
		SELECT * FROM (
		        SELECT ROWNUM rnum, tb.* FROM (
		                SELECT cp1.companyIndex, companyName, cc.chargeId, cc.chargeName, fax, businessNumber, address1
							FROM company1 cp1
							JOIN companyCharge cc ON cp1.companyIndex=cc.companyIndex
							LEFT OUTER JOIN (
								SELECT chargeId, chargeName, chargeTel, chargeEmail
		                        FROM companyCharge
								WHERE companyIndex = 1
							) c ON cp1.companyIndex = cc.companyIndex
					<where>
						<if test="searchValue != null and searchValue != ''">
							<include refid="where-list"/>
						</if>
					</where>
	<![CDATA[
			) tb WHERE ROWNUM <= ${end}
		) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 글보기 -->
<!-- 	<select id="readCompany" resultType="com.sp.membership.Company" parameterType="Integer">
		SELECT cp1.companyIndex, companyName, repname, repnumber, fax, businessNumber, address1
		FROM company1 cp1 JOIN company c ON cp1.companyIndex=cp.companyIndex
		WHERE cp1.companyIndex = #{companyIndex}
	</select> -->
</mapper>