<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exhibit">
	<select id="readExhibit" parameterType="Integer" resultType="com.sp.exhibit.Exhibit">
		SELECT exhibitNum,exhibitName,TO_CHAR(exhibitStart, 'YYYY-MM-DD')
		exhibitStart,content,host,supervise,admitStart,admitEnd,ratingName,
		TO_CHAR(exhibitEnd, 'YYYY-MM-DD') exhibitEnd, hallName, exHallLocate, exProfileImage,genre, 
		     CASE
                WHEN TO_DATE(TO_CHAR(exhibitEnd,'YYYYMMDD')||' '||admitEnd,'yyyy-mm-dd
                    hh24:mi:ss')&lt;SYSDATE THEN '마감'
                WHEN content IS NULL THEN '예정'
                ELSE '예매하기'
            END AS bookableState		
		FROM EXHIBIT e
		JOIN exhibitHall h ON e.hallNum=h.hallNum
        JOIN rating h ON e.ratingNum=h.ratingNum
        WHERE exhibitNum=#{num}
	</select>
	
	<select id="exhibitPrice" parameterType="Integer" resultType="String">
		SELECT  audience||' '||exprice priceString FROM EXHIBITprice ep
    JOIN AUDIENCELEVEL al ON ep.AUDIENCELEVELNUM = al.AUDIENCELEVELNUM WHERE ep.exhibitNum=#{exhibitNum} ORDER BY ep.AUDIENCELEVELNUM ASC
	</select>
	
	<update id="updateExhibit" parameterType="com.sp.exhibit.Exhibit">
		UPDATE exhibit SET content=#{content} WHERE exhibitNum=#{exhibitNum}
	</update>
	
	<insert id="insertBoardLike" parameterType="map">
		INSERT INTO exhibitInterest (exhibitNum, userId) VALUES(#{exhibitNum},#{userId})
	</insert>
	
	<delete id="deleteBoardLike" parameterType="map">
		DELETE FROM exhibitInterest WHERE exhibitNum=#{exhibitNum} AND userId=#{userId}
	</delete>
	
	<select id="countBoardLike" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM exhibitInterest WHERE exhibitNum=#{exhibitNum} AND userId=#{userId}
	</select>
	
	<select id="listExHall" resultType="com.sp.exhibit.Exhibit">
		SELECT hallName, hallNum FROM exhibitHall
	</select>
	
	<select id="readExHall" parameterType="Integer"  resultType="com.sp.exhibit.Exhibit">
		SELECT hallName, hallNum, exHallLocate, exHallImage FROM exhibitHall WHERE hallNum=#{num}
	</select>
	
	<update id="updateExHall" parameterType="com.sp.exhibit.Exhibit">
		UPDATE exhibitHall SET exHallImage=#{exHallImage} WHERE hallNum=#{hallNum}
	</update>
	
	<insert id="insertExReview" parameterType="com.sp.exhibit.ExReview">
		INSERT INTO exreview (exreviewNum, userId,subject,content,exhibitNum,score) 
				 VALUES(EXREVIEW_SEQ.NEXTVAL,#{userId},#{subject},#{content},#{exhibitNum},#{score})
	</insert>
	
	<select id="readExReviewForUpdate" parameterType="map"  resultType="com.sp.exhibit.ExReview">
		SELECT exreviewNum, subject, content, score FROM exreview WHERE exhibitNum=#{exhibitNum} and userId=#{userId}
	</select>
	
	<update id="updateExReview" parameterType="com.sp.exhibit.ExReview">
		UPDATE exreview SET subject=#{subject}, content=#{content}, score=#{score}
			WHERE exreviewNum=#{exreviewNum}
	</update>
	
		
	<select id="audienceList" parameterType="Integer" resultType="com.sp.exhibit.Exhibit">
		SELECT ep.exhibitNum, ep.audienceLevelNum, audience, exPrice 
		FROM exhibitPrice ep 
		JOIN audienceLevel al ON ep.audienceLevelNum=al.audienceLevelNum 
		JOIN exhibit e ON ep.exhibitNum=e.exhibitNum 
		WHERE ep.exhibitNum=#{num} 
		ORDER BY ep.audienceLevelNum ASC
	</select>
</mapper>