<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exhibitSchedule">
	<sql id="where-sch_hall">
		   <if test="listSch_hall != null and listSch_hall.size != 0">
		        AND
		        (
				  <foreach collection="listSch_hall" item="sch_hall" index="index"
						 open="" close="" separator=" OR ">
					  INSTR(hallName, #{sch_hall}) &gt; 0
				  </foreach>
				)
		   </if>
	</sql>

	<select id="countSchedule" parameterType="map"
	            resultType="Integer">
	SELECT NVL(COUNT(*),0) 
        FROM EXHIBIT e
        JOIN exhibitHall h ON e.hallNum=h.hallNum
		<where>
	        (exhibitStart &lt;=TO_DATE(#{eDate})) 
	        AND (TO_DATE(TO_CHAR(exhibitEnd,'YYYYMMDD')||' '||admitEnd,'yyyy-mm-dd hh24:mi:ss')&gt;TO_DATE(#{sDate}))
	        <include refid="where-sch_hall"/>
	        <if test="searchValue!=null and searchValue!='' ">
	     	    AND (INSTR(exhibitName, #{searchValue}) &gt; 0)
	     	</if>
		</where>
	</select>

	<select id="listSchedule" parameterType="map"
		resultType="com.sp.exhibit.schedule.Schedule">
		SELECT exhibitNum,exhibitName,TO_CHAR(exhibitStart, 'YYYY-MM-DD')
		exhibitStart,
		TO_CHAR(exhibitEnd, 'YYYY-MM-DD') exhibitEnd, hallName, exHallLocate, exProfileImage 
		FROM EXHIBIT e
		JOIN exhibitHall h ON e.hallNum=h.hallNum
		<where>
			(exhibitStart &lt;=TO_DATE(#{eDate}))
			AND (TO_DATE(TO_CHAR(exhibitEnd,'YYYYMMDD')||' '||admitEnd,'yyyy-mm-dd
			hh24:mi:ss')&gt;TO_DATE(#{sDate}))
			<include refid="where-sch_hall" />
			<if test="searchValue!=null and searchValue!='' ">
				AND (INSTR(exhibitName, #{searchValue}) &gt; 0)
			</if>
		</where>
	</select>
	
	<select id="listMonthlySchedule" parameterType="map"
		resultType="com.sp.exhibit.schedule.Schedule">
		SELECT exhibitNum,exhibitName,TO_CHAR(exhibitStart, 'YYYY-MM-DD')
		exhibitStart,
		TO_CHAR(exhibitEnd, 'YYYY-MM-DD') exhibitEnd, hallName, exHallLocate, exProfileImage 
		FROM EXHIBIT e
		JOIN exhibitHall h ON e.hallNum=h.hallNum
		<where>
			(exhibitStart &lt;=TO_DATE(#{endDay}))
			AND (TO_DATE(TO_CHAR(exhibitEnd,'YYYYMMDD')||' '||admitEnd,'yyyy-mm-dd
			hh24:mi:ss')&gt;TO_DATE(#{startDay}))
			<include refid="where-sch_hall" />
			<if test="searchValue!=null and searchValue!='' ">
				AND (INSTR(exhibitName, #{searchValue}) &gt; 0)
			</if>
		</where>
	</select>
	
	<select id="listAnnuallySchedule" parameterType="map" resultType="com.sp.exhibit.schedule.Schedule">
		SELECT exhibitNum,exhibitName, hallName, 
        TO_CHAR(exhibitStart,'MM-DD') exhibitStart,TO_CHAR(exhibitEnd,'MM-DD') exhibitEnd,
			TO_CHAR(exhibitEnd,'MM') endmonth, TO_CHAR(exhibitStart,'MM') startmonth
		FROM EXHIBIT e
		JOIN exhibitHall h ON e.hallNum=h.hallNum
        WHERE
           TO_CHAR(exhibitEnd,'YYYY') = #{year}
   		ORDER BY exhibitEnd ASC, hallName ASC 
	</select>
	
	<select id="listHall" resultType="String">
		SELECT hallName FROM exhibitHall
	</select>
</mapper>