<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exhibits">

<!-- select box 용 리스트  -->
<select id="listHall" resultType="com.sp.admin.exh.Exhibits">
	SELECT hallNum,hallName FROM exhibitHall
</select>

<select id="listRate" resultType="com.sp.admin.exh.Exhibits">
	SELECT ratingNum,ratingName FROM rating
</select>
<select id="listaudience" resultType="com.sp.admin.exh.Exhibits">
	SELECT audiencelevelNum, audience FROM audienceLevel
</select><!--   편하게 검색할 수 있는  searchList -->
<!-- 
<select id="getexhibit"></select> -->

<sql id="where-list">
   <if test="searchKey=='exhibitNum' ">
        exhibitNum=#{searchValue}
   </if>
   <if test="searchKey=='exhibitName' ">
        INSTR(exhibitName, #{searchValue}) &gt; 0
   </if>
   <if test="searchKey=='hallName' ">
        INSTR(hallName, #{searchValue}) &gt; 0
   </if>
   <if test="searchKey=='exhibitStart' ">
        (TO_CHAR(exhibitStart, 'YYYY-MM-DD') = #{searchValue}
         OR TO_CHAR(e.exhibitStart, 'YYYYMMDD') = #{searchValue})
   </if>
</sql>

<select id="dataCount" resultType="Integer" parameterType="map">
	SELECT NVL(COUNT (*),0) FROM exhibit 
	<where>
  	<if test="searchValue!=null and searchValue != '' ">
  	      <include refid="where-list"/>
  	</if>
  </where>
</select>

<insert id="insertExhibits" parameterType="com.sp.admin.exh.Exhibits"> 
	INSERT INTO exhibit (exhibitNum, exhibitName, exhibitStart,exhibitEnd,host,supervise
						 ,admitStart,admitEnd,genre,ratingNum,hallNum,exProfileImage)
		   VALUES (exhibit_seq.NEXTVAL, #{exhibitName}, #{exhibitStart}, #{exhibitEnd}, #{host},
		           #{supervise}, #{admitStart}, #{admitEnd}, #{genre}, #{ratingNum}, #{hallNum},#{exProfileImage})
</insert>

<update id="updateExhibits" parameterType="com.sp.admin.exh.Exhibits">
	UPDATE exhibit SET exhibitName=#{exhibitName}, exhibitStart=#{exhibitStart}, exhibitEnd=#{exhibitEnd}, host=#{host},
						supervise=#{supervise}, admitStart=#{admitStart}, admitEnd=#{admitEnd}, genre=#{genre},
						exProfileImage=#{exProfileImage} 
						WHERE exhibitNum=#{exhibitNum} 
</update>

<delete id="deleteExhibits" parameterType="Integer">
	DELETE FROM exhibit WHERE exhibitNum=#{exhibitNum} 
</delete>

<select id="readExhibits" parameterType="Integer" resultType="com.sp.admin.exh.Exhibits">
	SELECT exhibitNum, exhibitName, exhibitStart, exhibitEnd,admitStart,admitEnd,genre, e.ratingNum, ratingName, e.hallNum, hallName,
			host,supervise, exProfileImage 
			FROM exhibit e 
			JOIN exhibitHall ex ON e.hallNum=ex.hallNum
			JOIN rating r ON e.ratingNum = r.ratingNum
			WHERE exhibitNum=#{exhibitNum} 
</select>

<select id="listExhibits" parameterType="map" resultType="com.sp.admin.exh.Exhibits"> <!-- 포토갤러리 형식으로 고칠것. -->
	SELECT * FROM (
    SELECT ROWNUM rnum, tb.* FROM (
        SELECT exhibitNum, exhibitName, TO_CHAR(exhibitStart, 'YYYY-MM-DD') exhibitStart, 
                TO_CHAR(exhibitEnd, 'YYYY-MM-DD') exhibitEnd, 
                genre, admitStart,admitEnd,hallName,e.ratingNum, ratingName, host, supervise
                FROM exhibit e 
                JOIN exhibitHall eh ON e.hallNum = eh.hallNum
                JOIN rating r ON e.ratingNum = r.ratingNum 
                ORDER BY exhibitNum ASC 
<![CDATA[
			) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
	]]>
</select>
<select id="exhibitPrice" parameterType="Integer" resultType="String">
		SELECT  audience||' '||exprice priceString FROM EXHIBITprice ep
    JOIN AUDIENCELEVEL al ON ep.AUDIENCELEVELNUM = al.AUDIENCELEVELNUM WHERE ep.exhibitNum=#{exhibitNum} ORDER BY ep.AUDIENCELEVELNUM ASC
	</select>
<insert id="insertPrice" parameterType="com.sp.admin.exh.Exhibits">
	INSERT INTO exhibitPrice (audiencelevelnum, exhibitnum, exprice) values (#{audiencelevelnum},#{exhibitNum}.#{exprice})
</insert>
	
</mapper>