<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

    
    <update id="updateLastLoginDate" parameterType="String">
        UPDATE member1 SET lastLoginDate=SYSDATE 
                    WHERE userId=#{userId}
    </update>
    
    <select id="isMemberUserId" parameterType="com.sp.member.Member" resultType="Integer">
        SELECT count(*) totalCount from member1 
                    WHERE userId=#{userId}
    </select>
    
    <select id="isCompayChargeId" parameterType="com.sp.member.MemberCompanyCharge" resultType="Integer">
        SELECT count(*) totalCount from CompanyCharge 
                    WHERE chargeId=#{chargeId}
    </select>
    
    
    <update id="updateCompanyLastLoginDate" parameterType="String">
        UPDATE companyCharge SET lastLoginDate=SYSDATE 
                    WHERE chargeId=#{userId}
    </update>
    
   
   <select id="readMember" resultType="com.sp.member.Member" parameterType="String">
   SELECT userId, userName, userPwd, 
               NVL(enabled, 0) enabled, 
               createdDate, modifyDate, lastLoginDate
            FROM member1
            WHERE userId = #{userId} 
   </select>

   <select id="readMypageCompanyByUserId" resultType="com.sp.member.MemberCompany" parameterType="String">
   select companyName, repName, repNumber, fax, businessNumber, businessPost, address1, address2 
	from company1, companyCharge
	where company1.companyIndex = companyCharge.companyIndex
	and companyCharge.chargeId=#{userId} 
   </select>   
   
   
   
   <select id="readMypageCompanyChargeByUserId" resultType="com.sp.member.MemberCompanyCharge" parameterType="String">
   select chargeName, chargeTel, chargeEmail 
   from companyCharge
	where chargeId=#{userId} 
   </select>   
   
   
   <select id="readMypageMember" resultType="com.sp.member.Member" parameterType="String">
   SELECT email, phone, zip, address1, address2 
   FROM member2
   WHERE userId = #{userId} 
   </select>
   
   <select id="findMemberId" resultType="com.sp.member.Member" parameterType="com.sp.member.Member">
   SELECT member2.userId 
	  FROM member1, member2
      WHERE member1.userId = member2.userId
      AND member1.userName = #{userName}
      AND member2.email = #{email}
   </select>
   
   <select id="findMemberCompanyId" resultType="com.sp.member.MemberCompanyCharge" parameterType="com.sp.member.MemberCompanyCharge">
   SELECT chargeId 
	  FROM companyCharge
      WHERE chargeName = #{chargeName}
      AND chargeEmail = #{chargeEmail}
   </select>
   

	
   <select id="isMemberForPassword" resultType="int" parameterType="com.sp.member.Member">
    SELECT count(*) total_count 
	  FROM member2
      WHERE userId = #{userId}
      AND email = #{email}
   </select>   
   
   <select id="isMemberCompanyForPassword" resultType="int" parameterType="com.sp.member.MemberCompanyCharge">
    SELECT count(*) total_count 
	  FROM companyCharge
      WHERE chargeId = #{chargeId}
      AND chargeEmail = #{chargeEmail}
   </select>   
   
   <update id="updateMemeberPassword" parameterType="com.sp.member.Member">
	     UPDATE member1 SET userPwd=#{userPwd}
	         WHERE userId=#{userId}
	</update>
	
	<update id="updateMemeberCompanyPassword" parameterType="com.sp.member.MemberCompanyCharge">
	     UPDATE companyCharge SET chargePwd=#{chargePwd}
	         WHERE chargeId=#{chargeId}
	</update>
   
   
   <select id="readCompanyMember" resultType="com.sp.member.MemberCompanyCharge" parameterType="String">
	   SELECT chargeId, chargeName, chargePwd, 
		NVL(enabled, 0) enabled, 
		createdDate, modifyDate, lastLoginDate
		FROM companyCharge
            WHERE chargeId = #{userId} 
   </select>
   
   <select id="isMember" resultType="int" parameterType="String">
   		SELECT COUNT(*) IS_MEMBER FROM MEMBER1 WHERE USERID = #{userId} 
   </select>

   <select id="readMemberCompanySeq" resultType="int">
   		SELECT COMPANY_SEQ.NEXTVAL MEMBER_SEQ FROM DUAL
   </select>
      
   <select id="readMemberSeq" resultType="int">
   		SELECT MEMBER_SEQ.NEXTVAL MEMBER_SEQ FROM DUAL
   </select>
   
   <select id="insertMember" parameterType="com.sp.member.Member" resultType="int">
	    INSERT ALL
	    INTO member (memberIndex, memberShip) VALUES (#{memberIndex}, 1)
	    INTO member1 
	    (memberIndex, userId, userName, userPwd, ENABLED, CREATEDDATE) 
	    VALUES 
	    (#{memberIndex},#{userId},#{userName},#{userPwd}, 1, SYSDATE)
	    INTO member2 (userId, birth, email, phone, zip, address1, address2)
	    VALUES
	    (#{userId},#{birth},#{email},#{phone},#{zip},#{address1},#{address2}) 
	    SELECT 1 FROM DUAL  
    	
	</select>
	

	<update id="updateMember" parameterType="com.sp.member.Member">
	     UPDATE member2 
	     SET 
	     email=#{email}
	     ,phone=#{phone}
	     ,zip=#{zip}
	     ,address1=#{address1}
	     ,address2=#{address2}
	     WHERE userId=#{userId}
	</update>
	
	
	<update id="updateMypageMemberPassword" parameterType="com.sp.member.Member">
	     UPDATE member1 
	     SET 
	     userPwd=#{userPwd}
	     WHERE userId=#{userId}
	</update>
	
	
	<update id="updateMemberCompany" parameterType="com.sp.member.MemberCompanyCharge">
	     UPDATE companyCharge 
	     SET 
	     chargeName=#{chargeName}
	     ,chargeTel=#{chargeTel}
	     ,chargeEmail=#{chargeEmail}
	     WHERE chargeId=#{chargeId}
	</update>
	
	<update id="updateMypageMemberCompanyPassword" parameterType="com.sp.member.MemberCompanyCharge">
	     UPDATE companyCharge 
	     SET 
	     chargePwd=#{chargePwd}
	     WHERE chargeId=#{chargeId}
	</update>
	
	
	
	<select id="insertMemberCompany" parameterType="com.sp.member.MemberCompany" resultType="int">
	    INSERT ALL
	    INTO company (companyIndex, cmemberShip) VALUES (#{companyIndex}, 1)
	    INTO company1 
	    (companyIndex, companyName, repName, repNumber, fax, businessNumber, businessPost, address1, address2) 
	    VALUES 
	    (#{companyIndex},#{companyName},#{repName},#{repNumber},#{fax},#{businessNumber},#{businessPost},#{address1},#{address2})
	    SELECT 1 FROM DUAL  
	</select>
	
	<insert id="insertMemberCompanyCharge" parameterType="com.sp.member.MemberCompanyCharge">
	    INSERT INTO companyCharge 
	    (companyIndex, chargeId, chargeName, chargePwd, chargeTel, chargeEmail, ENABLED, CREATEDDATE) 
	    VALUES 
	    (#{companyIndex},#{chargeId},#{chargeName},#{chargePwd},#{chargeTel},#{chargeEmail},1,SYSDATE)
	</insert>
	
   
    <!-- 어쏘러티(권한) 테이블 -->    
	<!--
	<insert id="insertAuthority" parameterType="com.sp.member.Member">
	    INSERT INTO memberAuthority(userId, authority)
	        VALUES (#{userId}, #{authority})
	</insert>
    -->
    <insert id="insertAuthority" parameterType="com.sp.member.Member">
	    INSERT INTO memberAuthority(userId, authority)
	        VALUES (#{userId}, 'ROLE_USER')
	</insert>
     
    <insert id="insertCompanyAuthority" parameterType="com.sp.member.MemberCompanyCharge">
	    INSERT INTO companyAuthority(userId, authority)
	        VALUES (#{chargeId}, 'ROLE_USER')
	</insert>
     
	<select id="listAuthority" parameterType="String" resultType="com.sp.member.Member">
	    SELECT userId, authority
	        FROM memberAuthority WHERE userId=#{userId}
	</select>
	
	<update id="updateAuthority" parameterType="com.sp.member.Member">
	     UPDATE memberAuthority SET authority=#{authority}
	         WHERE userId=#{userId} AND authority=#{oldAuthority}
	</update>
	
</mapper>