<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sch">
	<select id="listConcertMonth" parameterType="map" resultType="com.sp.sch.Schedule">
		SELECT * FROM(
			SELECT sessionNum,c.concertName,ch.hallName,sessionDate,sessionTime,cs.concertNum		            
				,ROW_NUMBER() OVER(partition by sessionDate order by sessionDate) cnt
			FROM concertSession cs
			JOIN concert c on cs.concertNum=c.concertNum
			JOIN concertHall ch ON c.hallNum=ch.hallNum
			)
		WHERE (sessionDate &gt;= TO_DATE(#{startDay}, 'YYYYMMDD')
		             AND sessionDate &lt;= TO_DATE(#{endDay}, 'YYYYMMDD')  )
		       AND cnt=1
		ORDER BY sessionDate ASC, concertNum DESC 
	</select>

	<select id="listYear" parameterType="map" resultType="com.sp.sch.Schedule">
<!-- 		SELECT concertNum, concertName,genre,ch.hallName
			,TO_CHAR(concertStart,'RR-MM') concertStart,TO_CHAR(concertEnd,'RR-MM') concertEnd
		FROM concert c
		JOIN concertHall ch ON c.hallNum=ch.hallNum
        WHERE TO_CHAR(concertStart,'YYYYMM')&gt;= TO_CHAR(#{startDay},'YYYYMM')
        	AND TO_CHAR(concertEnd,'YYYYMM') &lt;= TO_CHAR(#{endDay},'YYYYMM')
   		ORDER BY ch.hallName ASC, concertStart ASC -->
   		
   		SELECT concertNum, concertName,genre,ch.hallName
			,TO_CHAR(concertStart,'MM-DD') concertStart,TO_CHAR(concertEnd,'MM-DD') concertEnd,
			TO_CHAR(concertEnd,'MM') endmonth, TO_CHAR(concertStart,'MM') startmonth
		FROM concert c
		JOIN concertHall ch ON c.hallNum=ch.hallNum
        WHERE TO_CHAR(concertEnd,'YYYY') = #{year}
   		ORDER BY concertEnd ASC, ch.hallName ASC 
   		
	</select>

</mapper>