<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketing">
	<select id="sessionList" parameterType="map" resultType="com.sp.ticketing.Ticketing">
		SELECT * FROM(
			SELECT sessionNum,TO_CHAR(sessionDate,'YYYY-MM-DD') sessionDate,cs.concertNum		            
				,ROW_NUMBER() OVER(partition by sessionDate order by sessionDate) cnt
			FROM concertSession cs
			JOIN concert c on cs.concertNum=c.concertNum
			)
		WHERE cnt=1 AND concertNum=#{concertNum} AND sessionDate > #{today}
		ORDER BY sessionDate ASC, concertNum DESC 
	</select>
	
	<select id="timeList" parameterType="String" resultType="com.sp.ticketing.Ticketing">
		SELECT sessionTime,sessionNum
		FROM concertSession 
		WHERE sessionDate=#{sessionDate}
	</select>
	
	<select id="seatList" parameterType="String" resultType="com.sp.ticketing.Ticketing">
		SELECT sl.seatLevel,sc.seatCount,sl.color 
		FROM seatLevel sl
		JOIN seatCount sc ON sl.seatLevelNum=sc.seatLevelNum
		JOIN concertHall ch ON sc.hallNum=ch.hallNum
		JOIN concert c ON c.hallNum=ch.hallNum
		
		WHERE sessionNum=#{sessionNum}
	</select>
</mapper>