<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketing">
	<select id="sessionList" parameterType="Integer" resultType="com.sp.ticketing.Ticketing">
		SELECT * FROM(
			SELECT sessionNum,sessionDate,cs.concertNum		            
				,ROW_NUMBER() OVER(partition by sessionDate order by sessionDate) cnt
			FROM concertSession cs
			JOIN concert c on cs.concertNum=c.concertNum
			)
		WHERE cnt=1 AND concertNum=#{concertNum}
		ORDER BY sessionDate ASC, concertNum DESC 
	</select>
</mapper>