<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketing">
	<select id="sessionList" parameterType="map" resultType="com.sp.ticketing.Ticketing">
		SELECT * FROM(
			SELECT sessionNum,TO_CHAR(sessionDate,'YYYY-MM-DD') sessionDate,cs.concertNum		            
				,ROW_NUMBER() OVER(partition by sessionDate order by sessionDate) cnt
			FROM concertSession cs
			JOIN concert c on cs.concertNum=c.concertNum
			)
		WHERE cnt=1 AND concertNum=#{concertNum} AND sessionDate > #{today}
		ORDER BY sessionDate ASC, concertNum DESC 
	</select>
	
	<select id="timeList" parameterType="String" resultType="com.sp.ticketing.Ticketing">
		SELECT sessionTime,sessionNum
		FROM concertSession 
		WHERE sessionDate=#{sessionDate}
	</select>
	
	<select id="seatList" parameterType="map" resultType="com.sp.ticketing.Ticketing">
		SELECT sl.seatLevel,sc.seatCount,sl.color,sessionNum,c.hallNum
		FROM seatLevel sl
		JOIN seatCount sc ON sl.seatLevelNum=sc.seatLevelNum
		JOIN concert c ON sc.hallNum=c.hallNum
		JOIN concertSession cs ON cs.concertNum=c.concertNum
		WHERE sessionNum=#{sessionNum}
		ORDER BY seatCount desc
	</select>
	
	<select id="seatCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM bookConcert
		WHERE sessionNum=#{sessionNum}
	</select>
	
	<select id="selectHallNum" parameterType="Integer" resultType="Integer">
		SELECT hallNum
		FROM concertSession cs
		JOIN concert c ON cs.concertNum=c.concertNum
		WHERE sessionNum=#{sessionNum}
	</select>
	
	<select id="myMileage" parameterType="String" resultType="Integer">
		SELECT totalMileage
		FROM mileage
		WHERE userId=#{userId}
	</select>
	
	<select id="seatPrice" parameterType="Integer" resultType="com.sp.ticketing.Ticketing">
		SELECT ch.hallNum, sp.seatLevelNum, sp.seatPrice
		FROM seatPrice sp
		JOIN concert c ON c.concertNum=sp.concertNum
		JOIN concertHall ch ON ch.hallNum=c.hallNum
		WHERE ch.hallNum=#{hallNum}
		ORDER BY seatLevelNum ASC
	</select>
</mapper>