@CHARSET "UTF-8";

.concertScheduleContent{
	padding-top: 51px;
    text-align: right;
    font-size: 0;
}

.concert_item{
	border: 1px solid #e0e1e5;
}

.noData{
	height: 166px;
    line-height: 166px;
    font-size: 15px;
    text-align: center;
    color:#434343;
}

.concert_item li:first-child{
	border-top: 0 none;
}

.concert_item li{
	list-style:none;
	padding: 26px 51px 25px 60px;
    border-top: 1px solid #e0e1e5;
    overflow: hidden;
}

.concert_item li.sch_itemContent{
	position: relative;
    padding: 0 100px 0 69px;
    overflow: hidden;
}
.concert_item li.sch_itemContent .concertName{
	display: block;
    height: 45px;
    padding-bottom: 5px;
    overflow: hidden;
    font-weight:bold;
}

.concert_content{
	overflow: hidden;
}

.concert_content dt{
	float: left;
    width: 77px;
    color: #222;
    font-weight: 700;
    line-height: 21px;
}

.concert_content dd{
	display: block;
    min-height: 21px;
    overflow: hidden;
    line-height: 21px;
    text-align: justify;
}
