@CHARSET "UTF-8";

.concertScheduleContent{
	padding-top: 51px;
    text-align: left;
    font-size: 0;
}


.resultList{
	height: 300px;
    padding-bottom: 20px;
}
/* 
    width: 220px;
    height: 280px;
 */
.noData{
	border-top: 1px solid #e0e1e5;
	border-bottom: 1px solid #e0e1e5;
	height: 166px;
    line-height: 166px;
    font-size: 15px;
    text-align: center;
    color:#434343;
}

.concert_item div:first-child{
	border-top: 0 none;
}

.resultList .list_image_crop{
	width: 220px;
    height: 280px;
    object-fit: cover;
    float:left;
}

.sch_itemContent{
	position: relative;
    width: 750px;
    height: 280px;
    margin-left:50px;
    border-bottom: 1px solid #e0e1e5;
    float:left;
}

.sch_itemContent .concertName{
	font-size: 24px;
    margin: 0px 0;
    padding-bottom : 150px; 
    line-height: 1.4;
}

.concert_content{
	width : 600px;
	font-size: 13px;
    font-weight: normal;
    color: #434343;
}

.concert_content dt{
	float: left;
    width: 77px;
    color: #222;
    font-weight: 700;
    line-height: 21px;
}

.concert_content dd{
	display: block;
    min-height: 21px;
    overflow: hidden;
    line-height: 21px;
    text-align: justify;
}
