@CHARSET "UTF-8";

* {
    margin:0; padding:0;
}

body {
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    font-size: 14px;
    /*line-height: 1.42857143;*/
}

a {
    cursor: pointer;
    color: #434343;
    text-decoration: none;
    /*line-height: 150%;*/
}
a:hover, a:active {
    color: #aa1717;
    text-decoration: underline;
}

.btn {
    color:#333333;
    font-weight:500;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    border:1px solid #cccccc;
    background-color:#fff;
    text-align:center;
    cursor:cursor;
    padding:3px 10px 5px;
    border-radius:4px;
}
.btn:active, .btn:focus, .btn:hover {
    background-color:#e6e6e6;
    border-color: #adadad;
    color: #333333;
}
.btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btnConfirm {
    font-size: 15px; 
    border:none;
    color:#ffffff;
    background:#aa1717;
    width: 360px;
    height: 50px;
    line-height: 50px;
    border-radius:4px;
}
.messageBox {
  margin-top: 20px;
  width: 420px; min-height: 150px;
  line-height : 100px;
  border: 1px solid #DAD9FF;
  padding: 5px;
  color:#333333;
  font-size:14px;
  text-align: center;
  border-radius:4px;
}

.boxTF {
    border:1px solid #434343;
    padding:3px 5px 5px;
    border-radius:4px;
    background-color:#ffffff;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}
.boxTF[readonly] {
	background-color:#eeeeee;
	/* border: none;*/
}

.selectField {
    border:1px solid #434343;
    padding:2px 5px 4px;
    border-radius:4px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}

.boxTA {
    border:1px solid #999999;
    height:150px;
    padding:3px 5px;
    resize : none;  /* 크롬등 크기 고정 */
    border-radius:4px;
    background-color:#ffffff;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}


/* *********** 아카데미 style */ 
.font12 {	
    font-size: 12px;
    font-weight: normal;
    color: #434343;
}

.font13 {	
    font-size: 13px;
    font-weight: normal;
    color: #434343;
}

.font14 {	
    font-size: 14px;
    font-weight: normal;
    color: #434343;
}

.list-title-boxTF {
    font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    border: 1px solid #ccc;
    padding: 3px 5px 5px;
    border-radius: 2px;
    background-color: #ffffff;
    width: 496px;
    height: 30px;
    margin: 5px 5px 5px 0px;
}

.btn-search {
	color: #aa1717;
    font-weight: bold;
    font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    border: 1px solid #ffffff;
    background-color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 4px;
}

.btn-academy-filter:active, .btn-academy-filter:focus, .btn-academy-filter:hover {
    background-color:#aa1717;
    border-color: #aa1717;
    color: #ffffff;
}

.btn-academy-filter[disabled], fieldset[disabled] .btn-academy-filter {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btnConfirm {
    font-size: 15px; 
    border:none;
    color:#ffffff;
    background:#aa1717;
    width: 360px;
    height: 50px;
    line-height: 50px;
    border-radius:4px;
}

.btn-info {
    width: 125px;
    color: #ffffff;
    font-weight: 700;
    float: right;
    border: 1px solid #aa1717;
    background-color: #aa1717;
    padding: 5px 15px 7px;
    margin: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.btn-Count {
    width: 190px;
    padding: 10px 15px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #aa1717;
    background-color: #aa1717;
}

.btn-info:hover, .btn-Count:hover, .btn-academy-filter:hover {
	cursor: pointer;
}


